header {
    width: 100%;
    height: 20%;
    text-align: center;
    border-bottom: 1px solid black;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 0;
    height: 10;
}

#loginButton {
    position: absolute;
    float: left;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.homeButton {
    position: absolute;
    float: left;
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.adminButton {
    position: absolute;
    float: left;
    top: 95%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.createAccountbtn {
    position: absolute;
    float: left;
    top: 100%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.container-small {
    border-style: ridge;
    margin-top: initial;
    bottom: 30%;
    height: 200px;
    width: 500px;
    background-color:forestgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerUser {
    border-style: inset;
    border-color: rgb(247, 13, 13);
    background-color: rgb(245, 241, 241);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 50%;
    width: 60%;
    height: 60%;
}

.userInfo {
    border-style:double ;
    border-color: rgb(10, 10, 10);
    background-color: rgb(185, 185, 185);
    top: 10%;
    left: 5%;
    width: 30%;
    height: 80%;
    position: absolute;
}

li {
    top:10%;
    left: 10%;
    position: absolute;
}

.movingPizza:hover .overlay {
    width: 50%;
    height: 50%;
    left: 26%;
    top:40%;
}

.stove {
    top: 50%;
    left: 19%;
    position: absolute;
}

.makePizza:hover .overlay {
    width: 100%;
    left: 0;    
}

#dropdownMenuButton1 {
float: left;
background-color: red;
}

#dropdownMenuButton2 {
float: right;
background-color: red;
}

#dropdownMenuButton3 {
    float: left;
    background-color: red;
}

#dropdownMenuButton4 {
    float: right;
    background-color: red;
}

.cpbackground{
  background-position: center;  
  background-size: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.text {
    color: rgb(221, 4, 4);
    font-size: 20px;
    position: absolute;
    top: 48%;
    left: 33%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


.createAccountbtn {
    position: absolute;
    float: left;
    top: 100%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

button {
  background-color: red;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  float: right;
}

button:hover {
  background-color: #0288d1;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: #212121;
}

input {
  background-color: #f1f3f4;
  border-radius: 2px;
  border-width: 0;
  color: #5f6368;
  font-size: 1em;
  height: 45px;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  max-width: 100%;
  padding: 8px 8px 8px 8px;
  transition-delay: 0s, 0s;
  transition-duration: 0.2s, 0.2s;
  transition-property: background-color, color;
  transition-timing-function: ease, ease;
  vertical-align: middle;
  width: 100%;
}

input:hover {
  background-color: #e8eaed;
}

.card {
  background-color: rgb(80, 80, 80);
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 80px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position: absolute;
  transform: translate(60%, -220%);
}

.lastUsercard {
    background-color: rgb(207, 50, 50);
    border-style: double yellow;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    margin: 2%;
    margin-top: 80px;
    padding: 20px;
    width: 46%;
    overflow: hidden;
    position: absolute;
    transform: translate(60%, -290%);
}

.card::after {
  content: " ";
  display: block;
  clear: both;
}

#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: #52b155;
}

#msg.error {
  color: #e6252c;
}